<div *ngIf='loading' class='container mt-0 py-5'>
  <app-spinner></app-spinner>
  <h4 class='text-center text-primary my-3'>- LOADING -</h4>
  <div class='d-flex justify-content-center align-items-center'>
    <div class='spinner-border text-primary' role='status' style='width: 3rem; height: 3rem;'>
      <span class='visually-hidden'>Loading...</span>
    </div>
  </div>
</div>

<div *ngIf='client && !loading' class='container'>
  <!-- MODAL HEADER -->
  <div class='row wallet-modal-header-container position-relative'>
    <div class='col-12'>
      <span (click)='activeModal.dismiss()' class='wallet-modal-closer bg-danger'>
        <img alt='Close Modal Icon' src='assets/images/close.png'>
      </span>
      <h4 class='text-center font-size-18 fw-bold extra-letter-spacing mb-0 pb-2 pt-3 text-uppercase'>
        Assign Managers<br>
        <span class='badge bg-light-success text-dark'>{{ client.sellerBusinessName }}</span>
      </h4>
    </div>
  </div>

  <!-- MODAL CONTENT -->
  <div class='row wallet-modal-content-container p-3'>
    <div class='col-12'>
      <!-- ASSIGNMENT FORM -->
      <div class='mb-4'>
        <h5 class='form-label fw-bolder text-primary'><i class='text-primary ti ti-search'></i> Search and Assign Manager</h5>
        <input (focus)="focusSearchScenarios$.next('')" (selectItem)='assignManager($event.item)' [(ngModel)]='typeaheadModel' [focusFirst]='false' [inputFormatter]='inputFormatter' [ngbTypeahead]='searchScenarios' [resultFormatter]='resultFormatter' class='form-control' id='typeahead-managers'
               placeholder='Type username or name...' type='text' />
        <small class='form-text text-muted'>Start typing to search for available managers to assign.</small>
      </div>

      <!-- ASSIGNED MANAGERS TABLE -->
      <div>
        <h5 class='mb-2 fw-bolder text-primary'><i class='text-primary ti ti-users'></i> Currently Assigned Managers ({{ assignedManagers.length }})</h5>
        <div *ngIf='assignedManagers.length > 0; else noManagersAssigned' class='table-responsive'>
          <table class='table table-striped table-sm'>
            <thead class='text-center'>
            <tr>
              <th>Username</th>
              <th>Full Name</th>
              <th>Admin Type</th>
              <th>Cell Number</th>
              <th class='text-end'>Action</th>
            </tr>
            </thead>
            <tbody class='text-center'>
            <tr *ngFor='let manager of assignedManagers'>
              <td><strong>{{ manager.username }}</strong></td>
              <td>{{ manager.firstName }} {{ manager.lastName }}</td>
              <td><span class='badge bg-info text-capitalize' style='font-size: 14px;'>{{ manager.adminType.toString().replace("_", " ") }}</span></td>
              <td>{{ manager.cellNumber1 }}</td>
              <td class='text-end'>
                <button (click)='removeManager(manager)' class='btn btn-sm btn-outline-danger' title='Remove this manager'>
                  <i class='ti ti-user-minus'></i> Remove
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <ng-template #noManagersAssigned>
          <div class='alert alert-info text-center'>
            No managers have been assigned to this client yet. Use the search box above to add one.
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- MODAL FOOTER -->
  <div class='modal-footer'>
    <button (click)='activeModal.dismiss()' class='btn btn-secondary' type='button'>Cancel</button>
    <button (click)='onSubmit()' [disabled]='isLoading' class='btn btn-success' type='button'>
      <span *ngIf='!isLoading'>Save Assignments</span>
      <span *ngIf='isLoading'>
        <span class='spinner-border spinner-border-sm me-2'></span>
        Saving...
      </span>
    </button>
  </div>
</div>
