<ng-container *ngIf='loading'>
  <app-spinner></app-spinner>
  <h4 class='text-center text-primary my-3'>- LOADING -</h4>
  <div class='d-flex justify-content-center align-items-center'>
    <div class='spinner-border text-primary' role='status' style='width: 3rem; height: 3rem;'>
      <span class='visually-hidden'>Loading...</span>
    </div>
  </div>
</ng-container>


<ng-container *ngIf='!loading'>
  <div class='row mb-4'>
    <div class='col-6'>
      <div class='input-group'>
        <input (ngModelChange)='filterClients($event)' [(ngModel)]='searchText' class='form-control' placeholder='Search by NTN or Name...' type='text'>
        <span class='input-group-text'><i class='ti ti-search'></i></span>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12 col-xl-12'>
      <div class='card tbl-card'>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table table-hover mb-0'>
              <thead>
              <tr>
                <th>NTN</th>
                <th>NAME</th>
                <th class='text-center text-success'>ACTIONS</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor='let client of filteredTables'>
                <td>{{ client.sellerNTNCNIC }}</td>
                <td>{{ client.sellerBusinessName }}</td>
                <td class='text-center'>
                  <span (click)='navigateToInvoices(client.id)' class='mx-2 btn btn-warning'><i class='ti ti-file-info'></i> SUBMIT SANDBOX INVOICE</span>
              </tr>
              <tr *ngIf='filteredTables.length === 0'>
                <td class='text-center' colspan='7'>
                  <div class='alert alert-warning' role='alert'>
                    No clients found matching your search criteria.
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
