/**  =====================
      Generic-class css start
========================== **/
/*====== Padding , Margin css starts ======*/
$i: 0;
@while $i<=50 {
  .p {
    &-#{$i} {
      padding: #{$i}px;
    }

    &-t-#{$i} {
      padding-top: #{$i}px;
    }

    &-b-#{$i} {
      padding-bottom: #{$i}px;
    }

    &-l-#{$i} {
      padding-left: #{$i}px;
    }

    &-r-#{$i} {
      padding-right: #{$i}px;
    }
  }

  .m {
    &-#{$i} {
      margin: #{$i}px;
    }

    &-t-#{$i} {
      margin-top: #{$i}px;
    }

    &-b-#{$i} {
      margin-bottom: #{$i}px;
    }

    &-l-#{$i} {
      margin-left: #{$i}px;
    }

    &-r-#{$i} {
      margin-right: #{$i}px;
    }
  }
  $i: $i + 5;
}

/*====== Padding , Margin css ends ======*/
/*====== Font-size css starts ======*/
$i: 6;
@while $i<=80 {
  .f-#{$i} {
    font-size: #{$i}px;
  }
  $i: $i + 2;
}

/*====== Font-size css ends ======*/
/*====== Font-weight css starts ======*/
$i: 100;
@while $i<=900 {
  .f-w-#{$i} {
    font-weight: #{$i};
  }
  $i: $i + 100;
}

/*====== Font-weight css ends ======*/
/*====== width, Height css starts ======*/
$i: 10;
@while $i<=150 {
  .wid-#{$i} {
    width: #{$i}px;
  }

  .hei-#{$i} {
    height: #{$i}px;
  }
  $i: $i + 5;
}

/*====== width, Height css ends ======*/
/*====== border-width css starts ======*/
$i: 1;
@while $i<=8 {
  .b-wid-#{$i} {
    border-width: #{$i}px;
  }
  $i: $i + 1;
}

/*====== border-width css ends ======*/
/*====== background starts ======*/

.text-header {
  color: var(--bs-heading-color);
}

.bg-body {
  background: var(--bs-body-bg);
}

@each $color, $value in $theme-colors {
  .bg-light-#{$color} {
    background: shift-color($value, $soft-bg-level);
    color: $value;
  }

  .icon-svg-#{$color} {
    fill: shift-color($value, $soft-bg-level);
    stroke: $value;
  }

  .material-icons-two-tone {
    &.text-#{$color} {
      background-color: $value;
    }
  }
  .text-hover-#{$color}:hover {
    color: $value !important;
  }
}

/*====== background ends ======*/
/*====== border color css starts ======*/
@each $color, $value in $theme-colors {
  .b-#{$color} {
    border: 1px solid $value;
  }

  .border-bottom-#{$color} td {
    border-bottom: 1px solid $value;
  }

  .border-bottom-#{$color} th {
    border-bottom: 1px solid $value !important;
  }

  .fill-#{$color} {
    fill: $value;
  }
}

/*====== border color css ends ======*/
/*====== text-color, background color css starts ======*/

/*====== text-color css ends ======*/

.font-hairline {
  font-weight: 100 !important;
}

.font-thin {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

.text-xs {
  font-size: 0.625rem !important;
}

.text-sm {
  font-size: 0.75rem !important;
}

.text-md {
  font-size: 0.8125rem !important;
}

.text-base {
  font-size: 0.875rem !important;
}

.text-lg {
  font-size: 1rem !important;
}

.text-xl {
  font-size: 1.125rem !important;
}

.text-2xl {
  font-size: 1.25rem !important;
}

.text-3xl {
  font-size: 1.5rem !important;
}

.text-4xl {
  font-size: 2rem !important;
}

.text-5xl {
  font-size: 2.25rem !important;
}

.text-6xl {
  font-size: 2.5rem !important;
}

.text-7xl {
  font-size: 3rem !important;
}

.text-8xl {
  font-size: 4rem !important;
}

.text-9xl {
  font-size: 6rem !important;
}

.text-10xl {
  font-size: 8rem !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.normal-case {
  text-transform: none !important;
}

/*====== more bootstrap colors start ======*/
$more-colors: (
  'blue': (
    100: $blue-100,
    200: $blue-200,
    300: $blue-300,
    400: $blue-400,
    500: $blue-500,
    600: $blue-600,
    700: $blue-700,
    800: $blue-800,
    900: $blue-900
  )
);
@each $name, $value in $more-colors {
  $i: 100;
  @while $i<=900 {
    .bg-#{$name}-#{$i} {
      background: map-get($value, $i);
    }
    .text-#{$name}-#{$i} {
      color: map-get($value, $i);
    }
    $i: $i + 100;
  }
}

/*====== more bootstrap colors end ======*/

.cursor-pointer {
  cursor: pointer;
}

.view-disabled {
  pointer-events: none;
}

.modal-dialog {
  min-width: 1080px !important;
}

.wallet-modal-header-container {
  margin: auto;
  vertical-align: center;
  border-bottom: 1px solid #cdcdcd3b;

  h4.font-size-18 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
  }
}

.wallet-modal-closer {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 500px;
  top: 5px;
  right: -5px;
  text-align: center;
  opacity: 0.65;
  display: flex;
  cursor: pointer;
  transition: opacity 300ms;
}

.wallet-modal-closer:hover {
  opacity: 1;
}

.wallet-modal-closer img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.wallet-modal-content-container .boxed {
  background-color: #0088cc26;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  &.active {
    background-color: rgb(0 204 110 / 15%);
    border: 1px solid rgb(0 204 110 / 25%);
    min-height: 130px;

    .information-container {
      color: #48ff70;

      .label {
        background: rgb(0 204 110 / 25%) !important;
        opacity: 1;
      }
    }

    .address-book-wallet {
      position: absolute;
      bottom: 5px;
      left: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 94%;
      gap: 10px;
      background: rgba(0, 204, 110, 0.25) !important;
      border-radius: 50px;
      padding-top: 3px;
      padding-bottom: 3px;
      cursor: pointer;
      border: 1px solid #019c5594;

      img {
        width: 40px;
        border-radius: 100%;
      }

      .label {
        font-size: 12px;
        word-spacing: -3px;
        color: #48ff70;
        max-width: 145px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .badge {
        background: #30b858;
        padding: 5px 10px;
        position: absolute;
        right: 10px;
        top: -10px;
        color: black;
        font-weight: 900;
      }

    }

  }

}

.wallet-modal-content-container .action-lite {
  display: inline-block;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 200ms;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  opacity: 0.65;
  background: #787878;
  border-color: #787878;
}
